body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 100%;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#lista {
    flex-grow: 1;
    overflow-y: auto; /* Adicionando rolagem para a lista */
}

#item-form {
    max-width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

#item-form input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}

#item-form button {
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

#lista table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lista th, #lista td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#lista th {
    background: #f0f0f0;
}

#lista .remove-item {
    color: red;
    cursor: pointer;
}

/* Adicione media queries para dispositivos móveis */

@media screen and (max-width: 600px) {
    #item-form {
        padding: 5px;
    }

    #item-form input, #item-form button {
        padding: 10px;
    }

    #lista table {
        box-shadow: none;
        border: none;
    }

    #lista th, #lista td {
        padding: 10px;
    }
}
